body {
    background-image: url(./assets/elements/tile-Background2.jpeg) ;
}

main {
    position: fixed;
    height: 90%;
    width: auto;
    /* border: solid 5px red; */
    text-align: center;
    overflow-y: scroll;
    
}

h1 {
background-image: url(./assets/elements/moroccanTileWallpaper.webp);
color: rgba(187, 77, 77, 0.805);
text-shadow: 2px 2px rgba(0, 0, 0, 0.805);
box-shadow: black 20px 20px 20px ;
font-family: fantasy;
font-size: 6vh;
border-radius: 10px;
padding: 10px;
opacity: .85;
}

h2 {
    background-image: url(./assets/elements/moroccanTileWallpaper.webp);
        color: rgba(187, 77, 77, 0.805);
        text-shadow: 2px 2px rgba(0, 0, 0, 0.805);
        box-shadow: black 20px 20px 20px;
        font-family: fantasy;
        font-size: 6hv;
        border-radius: 10px;
        padding: 5px;
        opacity: .85;
}

#archLink {
    height: auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: black 20px 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
   
}

.mainArticle {
    padding: 20px;
    font-family: cursive;
    background-image: linear-gradient(to bottom, rgba(53, 143, 151, 0.77), rgba(187, 77, 77, 0.917));
    border-radius: 10px;
    box-shadow: 20px 20px 20px;
   
}

.mainArticle p {
    color: rgba(254, 195, 0, 0.839);
    font-size: 1rem;
}

pre {
    color: rgba(254, 195, 0, 0.839);
    font-family: cursive;
    font-size: 1rem;
}

::-webkit-scrollbar {
    background-image: linear-gradient(to bottom, rgb(50, 139, 150),
            rgba(112, 189, 190, 0.64));
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgba(90, 10, 37, 0.793),
            rgba(187, 77, 77, 0.702));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom, rgba(90, 10, 37, 0.943), rgba(187, 77, 77, 0.917));
}

@media screen and (max-width: 912px) {
    h1 {
            font-size: 3vh;
        }
    
        h2 {
            font-size: 2vh;
        }
}
