body{
min-width: 100vh;
min-height: 100vh;
background-image:url(./assets/elements/tile-Background2.jpeg);
}

.header{
    display: grid;
    grid-template-columns: 10fr .5fr;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    background-image: url(./assets/elements/moroccanTileHeader.jpeg);
    background-repeat: repeat-x;
    opacity: .65;
    height: 100px;
    padding: 25px;
    box-shadow: 20px 20px 20px;
}

.header h1 {
    font-family: fantasy;
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline;
    text-shadow: 2px 2px rgba(187, 77, 77, 0.805);

}

.container{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    background-image: url(./assets/elements/tile-Background2.jpeg);
    /* box-shadow: rgb(128, 128, 128) 20px 20px 20px; */
    border-radius: 10px;
    box-shadow: 20px 20px 20px;
   
    
}


 #aboutBtn{
    border-radius: 10px;
    background-color: rgb(185, 225, 224);
    box-shadow: 7px 7px 8px;
    text-shadow: 2px 2px 2px;
    
}

 #aboutBtn strong{
    font-size: 1.5rem;
    font-family: 'fantasy';
    color: rgb(187, 77, 77);
    

}

.main{
    height: 550px;
    width:90%;
    background-image: url(./assets/elements/moroccanArch2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px;
}

.hidden {
    display: none;
}
#formErrorLabel{
    background-color: rgb(185, 225, 224);
    color: rgba(255, 0, 0, 0.718);
    border-radius: 5px;
    box-shadow: black 20px 20px 20px;
}

.select-quotes-aside{
    height: 550px;
    overflow-y:scroll;
    width: 100%;
    margin-right: 20px;
    background-image: url(./assets/elements/berberKilim.jpeg);
    opacity: 9;
    border-radius: 10px;
    box-shadow: 20px 20px 20px;
    padding: 10px;

}


#imageOptions{
    box-shadow: 20px 20px 20px;
}

#selectImageBtn{
    box-shadow: black 20px 20px 20px;
}

.select-quotes-aside p{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(185, 225, 224);
    color: rgb(88, 17, 17);
    box-shadow: 7px 7px 8px;
    text-decoration: underline;
    font-family: cursive;
    opacity: .65;
    
}

.select-quotes-aside p:hover{
    cursor: pointer;
    color: rgba(187, 77, 77, 0.805);
}

#imageOptions{
    width: 90%;
    height: 10%;
    margin-bottom: 5%;
}

.footer{
    height: 100px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(./assets/elements/moroccanTileFooter.jpeg);
        background-repeat: repeat-x;
        opacity: .65;
        border-radius: 10px;
        box-shadow: 20px 20px 20px;
}

.footer h1{
    padding: 20px;
    color: white;
    text-shadow: 2px 2px rgba(187, 77, 77, 0.805);
    font-family: cursive;
}

.selectImage{
margin-top: 20px;
margin-left: 20px;
}
#selectImageBtn{
    width: 90%;
    font-size: 15px;
        font-family: 'Trebuchet';
        color: rgb(187, 77, 77);
}

a :hover{
    background-color: black;
}

::-webkit-scrollbar{
    background-image: linear-gradient(to bottom, rgb(50, 139, 150),
            rgba(112, 189, 190, 0.64));
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, rgba(90, 10, 37, 0.793), 
    rgba(187, 77, 77, 0.702));
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(to bottom, rgba(90, 10, 37, 0.943), rgba(187, 77, 77, 0.917));
}




@media screen and (max-width: 769px){
    .header{
        width: 700px;
        height: 100px;
    }

    .header h1 {
        font-size: 4rem;
    }

    .container{
        grid-template-columns: 1fr;
        height: 95%;
        
        box-shadow: 5px 20px 20px 0px;
    }

    .main{
       margin-left: auto;
       margin-right: 300px;
        display: block;
       width: 690px;
       height:600px;
       box-shadow: 0px 0px 0px;
      
    }

    .select-quotes-aside{
        display: block;
        margin-top: 1.8%;
        height: 100%;
        width: 730px;
        box-shadow:5px 10px 10px 0px;
    }


    .selectImage{
        display: grid;
        grid-template-columns: 1fr 1fr;
       width: 50%;
    }

    #selectImageBtn{
    height: 20px;
    }

    #imageOptions{
        height: 20px;
    }

   #aboutBtn{
    display: inline-block;
    font-size: .1rem;
    width: 100px;
   height: 40px;
   margin-left: 20%;
   margin-right: 10px;
   }

.footer{
    width: 755px;
    height: 140px;
}
}

